Source: ros-jazzy-rviz-2d-overlay-msgs
Section: misc
Priority: optional
Maintainer: Team Spatzenhirn <team-spatzenhirn@uni-ulm.de>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-rosidl-default-generators, ros-jazzy-std-msgs, ros-jazzy-ros-workspace, ros-jazzy-rosidl-typesupport-fastrtps-c, ros-jazzy-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rviz-2d-overlay-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-rosidl-default-runtime, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: Messages describing 2D overlays for RVIZ, extracted/derived from the jsk_visualization ROS1 packege.
